.name__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

article {
  width: 80%;
}

.btn__skip {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

h1 {
  word-break: keep-all;
  display: inline-block;
  text-align: justify;
}

.cssanimation,
.cssanimation span {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.cssanimation span {
  display: inline-block;
  word-break: keep-all;
}

.leFlyInBottom span {
  animation-name: leFlyInBottom;
}

@keyframes leFlyInBottom {
  0% {
    transform: translate(0px, 20px) scale(0.8);
    opacity: 0;
  }
  50% {
    transform: translate(10px, -20px) scale(1.2);
    animation-timing-function: ease-in-out;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 12px;
  }
}
